[phases.setup]
nixPkgs = ["python39", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "gunicorn dashboard:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
